/* File Taken from:
Title: React Crash Course For Beginners 2021
Author: Maximilian Schwarzmüller 
Date: 2021
Availability: https://github.com/academind/react-complete-guide-code/blob/zz-reactjs-summary/code/19-finished/src/components/layout/Layout.module.css
*/
.main {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
  }