/* File Taken from:
Title: React Crash Course For Beginners 2021
Author: Maximilian Schwarzmüller
Date: 2021
Availability: https://github.com/academind/react-complete-guide-code/blob/zz-reactjs-summary/code/19-finished/src/index.css
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f3fcfa;
}

h1 {
    font-size: 2.5rem;
    color: #2c292b;
}

h2 {
    font-size: 1.5rem;
    color: #2c292b;
}

h3:hover {
    color: #00A094;
}

.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

